.Header {
    max-width: 1278px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}

.headerSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.burgerMenu{
    display: none;
}

@media (max-width: 1024px) {
    .buttons {
        display: none;
    }
	.navBar{
		display: none;
	}
	.burgerMenu{
		display: block;
		margin-right: 25%;
	}
}