body {
    background-color: var(--color-linear-darker);
}

button {
    font-family: "Montserrat";
    width: 175px;
    height: 48px;
    filter: var(--drop-shadow);
    border-radius: 40px;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    margin-left: 38px;
    margin: 5px;
    padding:0 17px;
}

.Button--Primary {
    background: var(--button-bg-gradient);
    border: none;
    color: var(--color-linear-darker);
}

.Button--Secondary {
    border: 2px solid var(--color-linear-white);
    background: none;
    color: var(--color-linear-white);
}

@media (max-width: 768px) {
    button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 75%;
    }
}
