.InputWrapper {
  display: flex;
  flex-direction: column;

  .Input {
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: var(--border-radius-radial);
    padding: 15px;
    font-size: var(--font-size-l);
    border: 2px solid var(--color-linear-white);
    background: none;
    position: relative;

    &.default {
      height: 48px;
    }

    &.long {
      height: 100px;

      input::placeholder {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: var(--font-size-l);
      }
    }


  }
}