.introWhyHowSections {
    max-width: 1278px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-linear-white);
    margin-top: 10px;
}

.divText {
    width: 95%;
    display: flex;
}

.pContent {
    width: 100%;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-s);
    line-height: 20px;
}

.pTitle {
    width: 100%;
    margin: 0;
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-xxl);
    line-height: 44px;
}

.pSubtitle {
    margin: 0;
    font-weight: var(--font-weight-xs);
    font-size: var(--font-size-xxl);
}

img {
    margin-left: 5px;
}

@media (max-width:768px) {
    .arrow {
        display: none;
    }

    .pContent {
        display: none;
    }

    .divText {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pTitle,
    .pSubtitle {
        text-align: center;
        font-size: var(--font-size-xl);
    }
}