@mixin justifyCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.cardsDiv {
    max-width: 1278px;padding: 15px;
    width: 80%;
    margin-left: 5px;
    border-radius: var(--border-radius-radial);
    background: var(--bg-radial-gradient);
    @include justifyCenter;
    flex-direction: column;
    padding: 15px;
    margin-top: 15px;
}


.img {
    width: 80%;
    @include justifyCenter;
    border-radius: var(--border-radius-div);
}

.cardsTitle {
    width: 80%;
    text-align: center;
    color: var(--color-linear-white);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-m);
}

.cardsDescription {
    width: 80%;
    padding: 0 10px;
    color: var(--color-linear-white);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
}