.main {
    font-family: var(--font-family-main);
    max-width: 1272px;
    margin: 0 auto;
}

.article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat';
}

.img {
    width: 100%;
    height: 426px;
    filter: var(--drop-shadow);
    border-radius: var(--border-radius);
}

.rect {
    width: 524px;
    height: 455px;
}

.sections {
    width: 460px;
    font-style: normal;
    font-weight: var(--font-weight-s);
    font-size: var(--font-size-l);
    line-height: 20px;
    color: var(--color-linear-white);
}

.btnArr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 66px;
}

.arrow {
    width: 65px;
    height: 55px;
}

.dive {
    font-weight: var(--font-weight-l);
    font-size: 40px;
    line-height: 56px;

    .span {
        background: var(--text-color-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.PGC {
    height: 167px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    background: var(--bg-radial-gradient);
    box-shadow: var(--bg-shadow);
    border-radius: 90px;
}

.lines {
    width: 1px;
    background-color: rgba(192, 183, 232, 0.33);
    height: 100px;
    margin: 15px;
}

.payGive {
    display: flex;
    align-items: center;

    .Texts {
        margin-left: 5px;
        color: var(--color-linear-white);
    }

    .TextsP1 {
        font-weight: var(--font-weight-l);
        font-size: var(--font-size-xl);
        margin: 0;
    }

    .TextsP2 {
        font-weight: var(--font-weight-s);
        font-size: var(--font-size-s);
        margin: 0;
    }
}