@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Steps {
    max-width: 1278px;
    @include flexCenter;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 35px;
}

.stepsDiv {
    width: 100%;
    @include flexCenter;
}

.stepsDivMap {
    width: 25%;
}

.stepsNumber {
    width: 20%;
    padding: 40px 30px;
    @include flexCenter;
    margin: 0 auto;
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-m);
    background: var(--bg-number-linear-gradient);
    border-radius: var(--border-radius-img);
    position: relative;
}

.stepsDiv {
    position: relative;
}

.stepsP {
    width: 100%;
    @include flexCenter;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-m);
    color: var(--color-linear-white);
    position: relative;
}

@media (min-width: 480px) and (max-width: 1024px) {
    .stepsNumber {
        width: 35%;
        padding: 40px 30px;
        @include flexCenter;
        margin: 0 auto;
        font-size: var(--font-size-3xl);
        font-weight: var(--font-weight-m);
        background: var(--bg-number-linear-gradient);
        border-radius: var(--border-radius-img);
        position: relative;
    }
}

.line {
    width: 85%;
    height: 50%;
    position: absolute;
    top: 0;
}