.Steps {
    max-width: 1278px;padding: 15px;
    margin-top: 35px;
    position: relative;
}

.line {
    width: 90%;
    height: 55%;
    position: absolute;
    top: 0;
}


@media (max-width:1024px) {
    .line{
        display: none;
    }
}