.Header {
    max-width: 1278px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}

.headerSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 481px) and (max-width: 1024px) {
    .icons {
        flex-direction: column;
    }

    .buttons {
        flex-direction: row;
    }
}