.swiper {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;

}

.swiperButtons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;

   @media (min-width: 1024px) {
      display: none;
   }
}

.swiperButtonLeft {
   margin-right: auto;
   left: 0;
 }
 
 .swiperButtonRight {
   margin-left: auto;
   right: 0;
   transform: rotate(180deg);
 }