.footer {
    max-width: 1278px;
    margin: 0 auto;
    font-family: var(--font-family-main);
    position: relative;
}

.footerArticle {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lines {
    width: 95%;
    height: 1px;
    background-color: var(--color-linear-dark);
    margin-left: 25px;
    margin-top: 15px;
}

.bgLine1{
    width: 85%;
    height: 100%;
    position: absolute;
    top: 0;
}

.bgLine2{
    width: 85%;
    height: 100%;
    position: absolute;
    bottom: 25%;
}

.footerP {
    text-align: center;
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-m);
    color: var(--color-linear-white);
}

.Navbar {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-main);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    text-align: left;

    a {
        color: var(--color-linear-white);
        text-shadow: var(--text-shadow);
        text-decoration: none;
        margin: 0 0 10px 10px
    }
}

.footerSetion{
    width: 100%;
}

.footerDiv{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.footerBtn{
    margin: 0 auto;
    margin-top: 5%;
}