.footer {
    max-width: 1278px;padding: 15px;
    margin: 0 auto;
    font-family: var(--font-family-main);
    position: relative;
}

.footerArticle {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lines {
    width: 95%;
    height: 1px;
    background-color: var(--color-linear-dark);
    margin: 15px 0 15px 25px ;
}

.bgLine1 {
    width: 85%;
    height: 100%;
    position: absolute;
    top: 0;
}

.bgLine2 {
    width: 85%;
    height: 100%;
    position: absolute;
    bottom: 25%;
}

.footerP,
.footerSocialize {
    text-align: center;
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-m);
    color: var(--color-linear-white);
}

.Navbar {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-main);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    text-align: left;

    a {
        color: var(--color-linear-white);
        text-shadow: var(--text-shadow);
        text-decoration: none;
        margin: 0 0 10px 10px
    }
}

.footerSetion {
    width: 100%;
}

.footerDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    grid-column: span 2 !important;
}

.footerBtn {
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
}

@media (max-width:768px) {

    .footerArticle{
        flex-direction: column;
    }

    .footerSetion{
        width: 100%;
    }

    .vector,
    .Navbar {
        display: none;
    }

    .footerP{
        width: 80%;
        margin: 0 auto;
        letter-spacing: 1.82px;
    }
}