.PGC {
    margin: 0 auto;
    max-width: 1278px;
    width: 90%;
    margin-top: 20px;
    background: var(--bg-radial-gradient);
    box-shadow: var(--bg-shadow);
    border-radius: 90px;
    padding: 30px;
}